<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <title>商城首页</title>
    <style>a{TEXT-DECORATION:none}</style>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="../static/plugin/uEditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="../static/plugin/uEditor/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="../static/plugin/uEditor/lang/zh-cn/zh-cn.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/css/shop/host.css">
</head>
<body>
<div class="title">
    <div class="b">
    <a href="../log.html" style="display: inline">购物车</a>
    </div>
    <div class="lr">
        <a href="../log.html">登录</a>
        <a href="../register.html">注册</a>
    </div>
    <br>
    <div class="j"><img src="../../static/images/shop/head.png"></div>
    <div class="goods">
        <samp class="k">
        <a href="">所有证件</a>
        <a href="">生活证件</a>
        <a href="">汽车证件</a>
        <a href="">其他证件</a>
        </samp>
        <samp class="l">
            <input type="text" placeholder="搜索商品?">
            <input type="submit" value="查找">
        </samp>
    </div>
</div>
<hr>
<div class="pic">


</div>

<div class="foot">
    <div class="first">
        <p>心悦客服</p>
        <div class="f">
            <p>热线:18628395678</p>
            <p>邮箱:123456789@qq.com</p>
            <p>qq  :1101625235</p>
            <p>微信:123456789</p>
        </div>
    </div>
    <div class="second">
        <p>关于心悦</p>
        <div class="s">
            <p><a href="../contact.html">关于我们</a></p>
            <p><a href="../contact.html">免责声明</a></p>
            <p><a href="../contact.html">用户协议</a></p>
        </div>
    </div>
    <div class="third" >
        <div  class="w">
            <img style="height:140px;width: 140px" src="../../static/images/shop/wei.jpg">
            <span>公众号</span>
        </div>
        <div class="x">
            <img style="height:140px;width: 140px" src="../../static/images/shop/xin.jpg">
            <span>微信群</span>
        </div>
    </div>
</div>
<hr>
<div class="bu">
    <img src="../../static/images/shop/bu.png">
</div>


</body>
</html>